<div class="container">
  <div class="row justify-content-between align-items-center my-4">
    <div class="col-md-8 text-center">
      <h2>Lista de comuns</h2>
    </div>
    <div class="col-md-4 text-end">
      <button (click)="logout()" class="btn btn-primary me-2" type="submit">Logout</button>
      <button (click)="navigateRegister()" class="btn btn-primary" type="submit">Registrar novo Usuário</button>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <header class="d-flex justify-content-center py-3">
        <button (click)="criarComun()" data-mdb-button-init data-mdb-ripple-init class="btn btn-success mx-2" type="submit">Criar Comum</button>
      </header>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li *ngFor="let comum of comuns" class="list-group-item d-flex justify-content-center">
          <button (click)="navigateToMusicolist(comum.id!)" class="btn btn-outline-primary" type="submit">{{ comum.name }}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
